.hero{
    padding-top: 64px;
    padding-bottom: 100px;
    background-image: url(../images/Aniversario/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height:380px;

    .container{
        position: relative;
    }


    &__text{
        margin-top: 64px;
        margin-bottom: 64px;
        font-size: 40px;
        font-weight: 800;
        line-height: 56px;
        text-align: center;
    }

    &__logo{
        height: 80px;
        margin: 0 auto;
        display: block;
    }

    @media (max-width:640px){
        padding: 40px 0;
        &__text{
            font-size: 22px;
            line-height: 24px;
        }
        &__logo{
            height: 24px;
        }
    }
}